h1{
    color:red;
    background-color: black;
}
h2{
    font-size:large;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size: larger;
}
h2{
    box-shadow: 0 0 5px #888 ;}
body{
    font-family: 'Croissant One', cursive;
}